<div class="bg-white">

  <div class="flex">
    <!-- Cart Items Section -->
    <div class="w-1/2 bg-gray-100 p-8">
      <h2 class="text-lg font-bold mb-4">Your Cart Items</h2>
      <div *ngFor="let item of cartItems">
        <ul class="divide-y divide-gray-200">
          <li class="py-4 flex">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="{{ item.product }}" alt="Product Image">
            </div>
            <div class="ml-6 flex-1 flex flex-col justify-between">
              <div class="text-sm font-medium text-gray-900">
                {{item.name}}
              </div>
              <div class="flex-1 flex justify-between items-end">
                <p class="text-sm text-gray-500">Quantity: {{ item.quantity}}</p>
                <p class="text-sm font-medium text-gray-900">{{ item.quantity * item.price | currency}} </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <h2 class="text-lg font-bold mb-4">Total: {{getTotal(cartItems) | currency}}</h2>
     
    </div>


  <!-- Main content -->
  <div class="flex justify-center items-center h-screen">    
    <form class="bg-white shadow-md rounded-lg p-8 w-128" name="addressForm" [formGroup]="addressForm">
      <header class="mb-8 flex justify-between items-center bg-white shadow-md py-4 px-8">
        <div>
          <a href="http://localhost:4200/cart" class="text-blue-600 hover:text-blue-800">Back to cart</a>
        </div>
      </header>
      <!-- Address Section -->
      <div class="mb-4" *ngIf="address">
        <h2 class="text-lg font-bold mb-4 text-center">Address</h2>
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Street</mat-label>
              <input matInput type="text" class="w-full" [(ngModel)]="address.street" formControlName="street" required/>
            </mat-form-field>
            
          </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full" >
              <mat-label>Street Number</mat-label>
              <input matInput type="text" class="w-full" [(ngModel)]="address.street_number"  formControlName="street_number" required/>
            </mat-form-field>
            
        
          </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>City</mat-label>
              <input matInput type="text" class="w-full" [(ngModel)]="address.city" formControlName="city" required/>
            </mat-form-field>
            
            </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Zipcode</mat-label>
              <input matInput type="text" class="w-full" [(ngModel)]="address.zipcode" formControlName="zipcode" required/>
            </mat-form-field>
      
          </div>
        </div>
        <span>
          <button (click)="confirmAddress()" mat-raised-button color="primary" class="ml-4">
            <i class="fa fa-spinner fa-spin" *ngIf="loadingaddress"> </i>
            &nbsp; {{loadingaddress? 'Loading' : 'Confirm Address'}} &nbsp;  
          </button>
        </span>
      </div>

      <div class="mb-4" *ngIf="!address">
        <h2 class="text-lg font-bold mb-4 text-center">Address</h2>
        <div class="flex flex-wrap -mx-2">
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Street</mat-label>
              <input matInput type="text" class="w-full" formControlName="street" required/>
            </mat-form-field>
            
          </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Street Number</mat-label>
              <input matInput type="text" class="w-full" formControlName="street_number" required/>
            </mat-form-field>
            

          </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>City</mat-label>
              <input matInput type="text" class="w-full" formControlName="city" required/>
            </mat-form-field>
            
          </div>
          <div class="w-1/2 px-2 mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Zipcode</mat-label>
              <input matInput type="text" class="w-full" formControlName="zipcode" required/>
            </mat-form-field>
    
          </div>
        </div>
        <span>
          <button (click)="confirmAddress()" mat-raised-button color="primary" class="ml-4">
            <i class="fa fa-spinner fa-spin" *ngIf="loadingaddress"> </i>
            &nbsp; {{loadingaddress? 'Loading' : 'Confirm Address'}} &nbsp;  
          </button>
        </span>
      </div>

      <div *ngIf="addressConfirmed" [@slideIn] class="text-center mt-12">
        <h2 class="text-lg font-bold mb-4">Choose Payment Method</h2>
          <div class="flex justify-center gap-4 mb-4">
            <button class="payment-method" [ngClass]="{'selected': selectedPaymentMethod === 'cash'}" (click)="selectedPaymentMethod = 'cash'; paymentMethodSelected()">
              <img src="https://cdn-icons-png.flaticon.com/512/3975/3975835.png" alt="Cash" class="payment-method-icon">
              <span>Cash</span>
            </button>
            <button class="payment-method" [ngClass]="{'selected': selectedPaymentMethod === 'credit-card'}" (click)="selectedPaymentMethod = 'credit-card'; paymentMethodSelected()">
              <img src="https://cdn-icons-png.flaticon.com/512/3664/3664504.png" alt="Credit Card" class="payment-method-icon">
              <span>Credit Card</span>
            </button>
          </div>
      </div>

    
      <div *ngIf="creditcard && addressConfirmed" [@slideIn] class="slide-in mt-12">
        <form class="bg-white shadow-md rounded-lg p-8 w-128" name="cardForm" [formGroup]="cardForm" (ngSubmit)="checkout()">   
          <h2 class="text-lg font-bold mb-4 text-center">Card Details</h2>
          <!-- Card components and checkout button go here -->
          <!-- Card Details Section -->
          <div class="mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Name on Card</mat-label>
              <input matInput type="text" class="w-full" formControlName="name" required>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Card Number</mat-label>
              <input matInput type="text" class="w-full" formControlName="number"  pattern="^\d{4}-\d{4}-\d{4}-\d{4}$" required>
            </mat-form-field>
          </div>
          <div class="flex mb-4">
            <mat-form-field appearance="outline" class="w-1/2 mr-2">
              <mat-label>Expiration Date</mat-label>
              <input matInput type="text" class="w-full" formControlName="dateExpiration"  pattern="^(0[1-9]|1[0-2])\/(\d{2})$" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-1/2 ml-2">
              <mat-label>CVV</mat-label>
              <input matInput type="text" class="w-full" formControlName="cvv"  pattern="^\d{3,4}$" required>
            </mat-form-field>
          </div>
          <span class="items-center"><button  mat-raised-button color="primary" class="w-128">
            <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
            &nbsp; {{loading? 'Processing' : 'Pay with Credit Card'}} &nbsp;  
          </button></span>
          <div [hidden]="!cash || !addressConfirmed">
            <!-- Cash checkout button goes here -->
            <button (click)="checkout()" mat-raised-button color="primary" class="w-128">
              <i class="fa fa-spinner fa-spin" *ngIf="loading"> </i>
              &nbsp; {{loading? 'Processing' : 'Pay Cash'}} &nbsp;
            </button>
          </div>
        <mat-error *ngIf="showError" class="sz-10">
          {{message}}
        </mat-error>
    </form>
  </div>
  </form>

</div>
