<h2 mat-dialog-title>Update Address</h2>
<div mat-dialog-content>
  <form [formGroup]="addressForm" *ngIf="address">
    <mat-form-field appearance="outline">
      <mat-label>Street</mat-label>
      <input matInput formControlName="street" [(ngModel)]="address.street" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street Number</mat-label>
      <input matInput formControlName="street_number" [(ngModel)]="address.street_number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" [(ngModel)]="address.city">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Zipcode</mat-label>
      <input matInput formControlName="zipcode" [(ngModel)]="address.zipcode">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>
